.container {
  height: 100vh;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexGroup {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.instructions {
  margin-bottom: 4rem;
}

h2 {
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: 900;
  text-decoration: underline;
}

.gameTitle {
  font-size: 1.4rem;
  opacity: 0.3;
}
