.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 7rem;
}

.gameBoard {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
  max-width: 40rem;
  max-height: 40rem;
  width: calc(100vw - 6rem);
  height: calc(100vw - 6rem);

  margin-bottom: 10rem;
}

.gameCell {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 7rem;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  cursor: pointer;
}

.gameCell:nth-child(1),
.gameCell:nth-child(2),
.gameCell:nth-child(3) {
  border-top: none;
}

.gameCell:nth-child(3),
.gameCell:nth-child(6),
.gameCell:nth-child(9) {
  border-right: none;
}

.gameCell:nth-child(1),
.gameCell:nth-child(4),
.gameCell:nth-child(7) {
  border-left: none;
}

.gameCell:nth-child(7),
.gameCell:nth-child(8),
.gameCell:nth-child(9) {
  border-bottom: none;
}

.winningCell {
  color: green;
}

.drawCell {
  color: red;
}

.prev {
  opacity: 0.2;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
