.button {
  font-size: 3rem;
  background-color: transparent;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  color: blue;
  transform: scale(1.2);
}

.exit:hover {
  color: red;
}

.exit .span1 {
  display: block;
}

.exit .span2 {
  display: none;
}

.exit:hover .span1 {
  display: none;
}

.exit:hover .span2 {
  display: block;
}
