.contentWrapper {
  height: 100vh;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructionsList {
  font-size: 2rem;
}

.controlsWrapper {
  margin-top: 4rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
