*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.8rem;
  font-family: "VT323", monospace;
  background-color: rgb(230, 212, 184);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
