*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(230, 212, 184);
}

body,
button {
  font-size: 1.8rem;
  font-family: "VT323", monospace;
}

button {
  width: 9.5rem;
  padding: 2rem;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
