.container {
  height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navItem {
  margin-bottom: 0.3rem;
  position: relative;
}

.link {
  font-size: 4rem;
  opacity: 0.7;
  transition: all 0.3s;
}

.navItem::before {
  content: ">";
  position: absolute;
  font-size: 3rem;
  left: -2.5rem;
  opacity: 0;
}

.navItem:hover .link {
  color: blue;
  opacity: 1;
}

.navItem:hover::before {
  color: blue;
  opacity: 1;
}
